<html>

<head>
    <title>AlArmPiT</title>
</head>

<body>

    <script>

        function myRequest(url) {
            let xhr = new XMLHttpRequest();
            xhr.open('get', url);
            xhr.send();

            xhr.onload = function () {
                console.log(xhr.response);
            };
        }

        function setTime() {
            var hour = document.getElementById("hour").value
            var minute = document.getElementById("minute").value

            let xhr = new XMLHttpRequest();
            xhr.open('get', '/set_time?hour='+hour+'&minute='+minute);
            xhr.send();

            xhr.onload = function () {
                console.log(xhr.response);
            };
        }
    </script>


    <button onclick="myRequest('/lights_on')">on</button>
    <button onclick="myRequest('/lights_off')">off</button>
    <button onclick="myRequest('/ring')">ring</button>
    <br/>
    <input type="text" id="hour" name="hour">:<input type="text" id="minute" name="minute">
    <button onclick="setTime()">set time</button>

</body>

</html>