<html>

<head>
    <title>AlArmPiT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h2>Lights</h2>
    <button onclick="myRequest('/lights_on')">on</button>
    <button onclick="myRequest('/lights_off')">off</button>
    <button onclick="myRequest('/lights_toggle')">toggle</button>
    <br/><br/>
    <input style="width:50px" type="text" id="hour" name="hour">:<input style="width:50px" type="text" id="minute" name="minute">
    <button onclick="setTime()">set time</button>
    <button onclick="getTime()">get time</button>
    <br/>
    <button onclick="myRequest('/ring')">test ring sound</button>
    <h2>Relay</h2>
    <button onclick="myRequest('/relay_on')">on</button>
    <button onclick="myRequest('/relay_off')">off</button>
    <button onclick="myRequest('/relay_toggle')">toggle</button>

    <br/>
    <h2>Log</h2>
    <pre id="output"></pre>

    <script>
        var output = document.getElementById("output");

        function myRequest(url) {
            let xhr = new XMLHttpRequest();
            xhr.open('get', url);
            xhr.send();

            xhr.onload = function () {
                console.log(xhr.response);
                output.innerText += xhr.response + '\n';
            };
        }

        function setTime() {
            var hour = document.getElementById("hour").value;
            var minute = document.getElementById("minute").value;

            let xhr = new XMLHttpRequest();
            xhr.open('get', '/set_time?hour='+hour+'&minute='+minute);
            xhr.send();

            xhr.onload = function () {
                console.log(xhr.response);
                output.innerText += xhr.response + '\n';
            };
        }

        function getTime() {

            let xhr = new XMLHttpRequest();
            xhr.open('get', '/get_time');
            xhr.send();

            xhr.onload = function () {
                console.log(xhr.response);
                hm = xhr.response.split(":")
                document.getElementById("hour").value = hm[0];
                document.getElementById("minute").value = hm[1];
                output.innerText += 'current alarm time is ' + xhr.response + '\n';
            };
        }
        getTime();
    </script>

</body>

</html>
